.rt-inline {
  display: inline-flex;
  align-items: baseline;
  white-space: nowrap;
}

.rt-static {
  display: inline-block;
}

.rt-dynamic {
  display: inline-block;
}

.text-rotate {
  display: inline-flex;
}

.text-rotate-element {
  display: inline-block;
}
